<!DOCTYPE html>
<html ng-app="myAuthentication" class="no-js" lang="en">

<meta charset="utf-8">
<meta content="IE=edge" http-equiv="X-UA-Compatible">
<title>BP Property - Login</title>
<meta content="" name="description">
<meta content="width=device-width, initial-scale=1" name="viewport">

<style>
  .ng-cloak {
    display: none !important;
  }
</style>

<link href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link href="bower_components/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">

</head>

<body ng-controller="LoginCtrl">

  <div class="container">
    <div class="mainbox col-md-6 col-md-offset-3 col-sm-8 col-sm-offset-2" style="margin-top:10%;">
      <div class="panel panel-info">
        <div class="panel-heading">
          <div class="panel-title">Sign In</div>
        </div>

        <div class="panel-body" style="padding-top:30px">

          <div class="alert alert-danger col-sm-12 ng-cloak" ng-show="error">{{error}}</div>

          <form class="form-horizontal" name="form" ng-submit="login()" role="form">

            <div class="input-group" style="margin-bottom: 25px">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-user"></i>
              </span>
              <input class="form-control" name="username" ng-model="username" placeholder="username" type="text">
            </div>

            <div class="input-group" style="">
              <span class="input-group-addon">
                <i class="glyphicon glyphicon-lock"></i>
              </span>
              <input class="form-control" name="password" ng-model="password" placeholder="password" type="password">
            </div>

            <div class="form-group pull-right" style="margin-top:15px">
              <div class="col-sm-12 controls">
                <button class="btn btn-success" type="submit">Login</button>
              </div>
            </div>

          </form>

        </div>
      </div>
    </div>
  </div>

  <!-- scripts -->
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>

  <!--<script src="authentication/authentication-service.js"></script>
  <script src="authentication/authentication-controller.js"></script>
  <script src="authentication/main.js"></script>-->

  <!-- Production -->
  <script src="build/bpproperty-app-authentication.min.js"></script>

  <!-- Development -->
  <!-- <script src="build/bpproperty-app-authentication.js"></script> -->

</body>

</html>
