<div style="padding-top: 10px"></div>

<div ng-controller="PaymentListCtrl as paymentListCtrl">
  <!-- Confirm Delete Modal-->
  <script id="confirmDeleteModal.html" type="text/ng-template">
    <div class="modal-header">
      <button aria-hidden="true" class="close" ng-click='closeModal()' type="button">&times;</button>
      <h4 class="modal-title"><i class="warning glyphicon glyphicon-alert"></i> Confirm Delete</h4>
    </div>
    <div class="modal-body">
      <p>You are about to delete one payment record,
        <strong class="text-info">฿{{ payment.amount }}</strong>
        for
        <strong class="text-info">{{ payment.payFor | date: "MMMM, yyyy" }}</strong>, this procedure is irreversible.</p>
      <p>Do you want to proceed?</p>
    </div>
    <div class="modal-footer">
      <button class="btn btn-default btn-sm" ng-click="closeModal()" type="button">Cancel</button>
      <a class="btn btn-danger btn-ok btn-sm" href ng-click="delete()">Delete</a>
    </div>
  </script>

  <div class="pull-right" style="padding-bottom: 10px;">
    <button class="btn btn-default btn-sm" ng-click="savePaymentModal({})" type="button">
      <span class="glyphicon glyphicon-plus"></span>
      สร้าง
    </button>
  </div>
  <div style="clear:both"></div>

  <div>
    <div class="grid" ui-grid-pagination ui-grid-resize-columns ui-grid="gridOptions">
      <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
    </div>
  </div>

</div>
