
<div style="padding-bottom: 10px;">

    <table width="100%">
        <tr>
            <td>
                <form class="form-inline">
                    <div class="form-group">
                        Show <select id="showCombo" class="form-control input-sm"
                                     ng-options="recordsPerPage for recordsPerPage in recordsPerPageList"
                                     ng-model="recordsPerPage" ng-change="onRecordsPerPageChanged()">
                    </select> Entries
                    </div>
                </form>
            </td>
            <td align="right">
                <div style="display: inline-block;">
                    <div class="input-group pull-left" style="width: 400px; ">
                        <span class="input-group-addon"><span class="glyphicon glyphicon-search"></span></span>
                        <input type="text" class="form-control input-sm" placeholder="Search">
                        <span class="input-group-btn">
                            <button type="button" class="btn btn-default input-sm">Go</button>
                        </span>
                    </div>
                    &nbsp;
                    <div class="pull-right">
                        <button type="submit" ng-click="redirect('/land/create')" class="btn btn-default btn-sm"><span class="glyphicon glyphicon-plus"></span> สร้าง </button>
                    </div>
                </div>

            </td>
        </tr>
    </table>
</div>

<table class="table table-striped table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
    <tr valign="middle">
        <th rowspan="2">No.</th>
        <th class="sortable" rowspan="2">ชื่อ <span class="glyphicon glyphicon-sort"></span></th>
        <th rowspan="2">ที่อยู่ </th>
        <th colspan="3">เนื้อที่</th>
        <th rowspan="2">หมายเหตุ</th>
        <th class="sortable" rowspan="2">เวลาที่สร้าง <span class="glyphicon glyphicon-sort"></span></th>
        <th rowspan="2">ยอดขาย</th>
        <th rowspan="2">จัดสรร</th>
    </tr>
    <tr><th>ไร่ </th><th>งาน</th><th>ตารางวา</th></tr>
    </thead>
    <tbody>

    <tr ng-repeat="land in lands" ng-click="redirect('/land/' + land.id)">
        <td align="center">{{$index + 1}}</td>
        <td>{{land.name}}</td>
        <td>{{land.address}}</td>
        <td align="center">{{land.area.rai}}</td><td align="center">{{land.area.yarn}}</td><td align="center">{{land.area.tarangwa}}</td>
        <td>{{land.description}}</td>
        <td>{{land.createdTime | date:"MMM dd,   yyyy ' at ' h:mma"}}</td>
        <td align="center" ng-click="redirect('/land/' + land.id + '/buyDetail'); $event.stopPropagation();">
            <span class="glyphicon glyphicon-list-alt"></span>
        </td>
        <td align="center" ng-click="redirect('/land/' + land.id + '/buyDetail/create'); $event.stopPropagation();">
            <span class="glyphicon glyphicon-shopping-cart"></span>
        </td>
    </tr>

    </tbody>
</table>

<div class="row-fluid">
    <div class="span12">
        <div class="inline pull-left">
            Showing <strong>{{startIndex}}</strong> to <strong>{{endIndex}}</strong> of
            <strong class="text-primary">{{totalRecords}}</strong> entries
        </div>
        <div class="inline pull-right">
            <my-pagination total-records="totalRecords" records-per-page="recordsPerPage" ng-change="updateLandTable()" ng-model="currentPage"></my-pagination>
        </div>
    </div>
</div>
