<!-- Select Buyer Dialog -->
<script id="myModalContent.html" type="text/ng-template">
  <div class="modal-header">
    <button aria-hidden="true" class="close" ng-click='closeModal()' type="button">&times;</button>
    <h4 class="modal-title">
      <i class="glyphicon glyphicon-user"></i>
      Select Buyer</h4>
  </div>
  <div class="modal-body">

    <div>
      <div class="grid " ui-grid-pagination ui-grid-resize-columns ui-grid-selection ui-grid="gridOptions">
        <div class="watermark" ng-show="!gridOptions.data.length">No data available</div>
      </div>
    </div>

  </div>
  <div class="modal-footer">
    <button class="btn btn-default btn-sm" ng-click="closeModal()" type="button">Cancel</button>
    <button class="btn btn-primary btn-ok btn-sm" ng-class="{'disabled': !selected }" ng-click="selectBuyer()">Select</button>
  </div>
</script>
<!-- End Customer Dialog -->

<div class="panel panel-default">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-plus"></i>
    General Information
  </div>
  <div class="panel-body">
    <div class="container-fluid">

      <div class="row" style="padding-top: 3px">
        <div class="col-xs-3 col-sm-2">
          <label for="name">ชื่อโครงการ</label>
        </div>
        <div class="col-xs-9 col-sm-10">
          <span name="name">
            {{ land.name }}
          </span>
        </div>
      </div>

      <div class="row" style="padding-top: 3px">
        <label class="control-label col-xs-3 col-sm-2">ผู้ซื้อ</label>
        <div class="col-xs-9 col-sm-10">

          <a ng-href="{{ '#/customers/' + customer.id }}">{{ customer.firstName + ' ' + customer.lastName }}</a>
          <a href ng-click="selectBuyerCtrl.selectBuyerModal()" ng-hide="customer.id">
            <span class="glyphicon glyphicon-plus-sign"></span>
          </a>
          <a href ng-click="selectBuyerCtrl.selectBuyerModal()" ng-hide="!customer.id || buyDetail.buyerId">
            <span class="glyphicon glyphicon-pencil"></span>
          </a>

        </div>
      </div>

      <div class="row" ng-show="buyDetail" style="padding-top: 3px">
        <div class="col-xs-3 col-sm-2">
          <label for="name">ราคาซื้อ</label>
        </div>
        <div class="col-xs-9 col-sm-10">
          <span>{{ buyDetail.buyPrice | number }}
            บาท</span>
        </div>
      </div>

      <div class="row" ng-show="installmentPerMonth && unpaidDebt > 0" style="padding-top: 3px">
        <div class="col-xs-3 col-sm-2">
          <label for="name">ผ่อน / เดือน</label>
        </div>
        <div class="col-xs-9 col-sm-10">
          <span>{{ installmentPerMonth | number }}
            บาท</span>
        </div>
      </div>

      <div class="row" ng-show="buyDetail" style="padding-top: 3px">
        <div class="col-xs-3 col-sm-2">
          <label for="name">สถานะ</label>
        </div>
        <div class="col-xs-9 col-sm-10">
          <span ng-show="unpaidDebt <= 0">
            จ่ายแล้ว
            <span class="glyphicon glyphicon-ok-circle" style="color: green"></span>
          </span>
          <span ng-show="unpaidDebt > 0">
            ค้างชำระ ({{ unpaidDebt | number }}
            บาท)
            <span class="glyphicon glyphicon-ban-circle" style="color: red"></span>
          </span>
        </div>
      </div>

    </div>
    <hr style="margin-top: 5px"/>

    <my-tabset>
      <my-tab template-url="property/land-buy-details.tpl.html" title="Buy Details"></my-tab>
      <my-tab ng-if="buyDetail.buyerId" template-url="property/land-payment.tpl.html" title="Payment Records"></my-tab>
    </my-tabset>

  </div>
</div>
