<div class="panel panel-default">
  <div class="panel-heading">
    <i class="glyphicon glyphicon-plus"></i>
    Customer Details</div>
  <div class="panel-body">

    <a ng-if="customer.id" class="btn btn-default input-sm pull-right" ng-href="{{'#/customers/' + customer.id + '/lands'}}" type="button">
      <span class="glyphicon glyphicon-list-alt"></span>
      ยอดการซื้อ</a>

    <div style="clear:both; padding: 5px;"></div>

    <form novalidate class="form-horizontal" ng-submit="submit(form.$valid)" name="form">
      <div class="form-group required">
        <label class="control-label col-xs-2" for="firstname">ชื่อจริง</label>
        <div class="col-xs-10" ng-class="{'has-error': form.firstname.$error.required && (form.$submitted || form.firstname.$touched)}">
          <input class="form-control input-sm text" name="firstname" ng-model="customer.firstName" placeholder="First Name" type="text" required>
          <span class="text-danger" ng-show="form.firstname.$error.required && (form.$submitted || form.firstname.$touched)">Customer's firstname is required.</span>
        </div>
      </div>
      <div class="form-group required">
        <label class="control-label col-xs-2" for="lastname">นามสกุล</label>
        <div class="col-xs-10" ng-class="{'has-error': form.lastname.$error.required && (form.$submitted || form.lastname.$touched)}">
          <input class="form-control input-sm text" name="lastname" ng-model="customer.lastName" placeholder="Last Name" type="text" required>
          <span class="text-danger" ng-show="form.lastname.$error.required && (form.$submitted || form.lastname.$touched)">Customer's lastname is required.</span>
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="tel">โทรศัพท์</label>
        <div class="col-xs-10">
          <input class="form-control input-sm text" name="tel" ng-model="customer.tel" placeholder="Tel" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="address">ที่อยู่</label>
        <div class="col-xs-10">
          <input class="form-control input-sm text" name="address" ng-model="customer.address" placeholder="Address" type="text">
        </div>
      </div>
      <div class="form-group">
        <label class="control-label col-xs-2" for="description">หมายเหตุ</label>
        <div class="col-xs-10">
          <textarea class="form-control input-sm" name="description" ng-model="customer.description" placeholder="Description" rows="5"></textarea>
        </div>
      </div>
      <div class="form-group">
        <div class="col-xs-offset-2 col-xs-10">
          <button class="btn btn-primary input-sm" type="submit">Save</button>
          <a class="btn btn-danger input-sm" type="button">Delete</a>
        </div>
      </div>
    </form>
  </div>
</div>
