<!DOCTYPE html>
<html lang="en" ng-app="bpPropertyApp" class="no-js">

<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<title>BP Property</title>
<meta name="description" content="">
<meta name="viewport" content="width=device-width, initial-scale=1">

<link href="favicon.ico" rel="icon" type="image/x-icon" />
<link href="favicon.ico" rel="shortcut icon" type="image/x-icon" />
<link rel="stylesheet" href="bower_components/bootstrap/dist/css/bootstrap.min.css">
<link rel="stylesheet" type="text/css" href="bower_components/angular-ui-grid/ui-grid.min.css">
<link rel="stylesheet" href="app.css">

</head>

<body ng-controller="appCtrl">

  <!-- Session Expired Modal-->
  <script id="sessionExpiredModal.html" type="text/ng-template">
    <div class="modal-header">
      <h4 class="modal-title"><i class="warning glyphicon glyphicon-alert"></i> Sessioin expired</h4>
    </div>
    <div class="modal-body">
      <p>Your session has expired. You will be logged out in
      <strong class="text-info">{{counter}}</strong> seconds</p>

      <p>Do you want to stay logged in?</p>
    </div>
    <div class="modal-footer">
      <a class="btn btn-primary btn-ok btn-sm" href ng-click="stayLogggedIn()">Stay logged in</a>
    </div>
  </script>

  <div id="loaderDiv" my-loader ng-cloak>
    <img ng-src="common/interceptors/spinner.gif" class="ajax-loader" width="100" height="100"/>
  </div>

  <div ng-include="'header.tpl.html'"></div>

  <div class="container-fluid">

    <div ng-show="globals.currentUser.username" class="row" style="background-color: #f5f5f5">
      <div ng-controller="headerCtrl" class="col-md-offset-2 col-md-10" style="padding-left:0">
        <ul class="breadcrumb">
          <li ng-repeat="breadcrumb in breadcrumbs.getAll()">
            <ng-switch on="$last">
              <span ng-switch-when="true" ng-cloak>{{ breadcrumb.name }}</span>
              <span ng-switch-default><a ng-cloak href="#/{{breadcrumb.path}}">{{ breadcrumb.name }}</a>&nbsp;&nbsp;&nbsp;</span>
            </ng-switch>
          </li>
        </ul>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12" style="padding:0;">
        <div ng-view style="padding: 10px;">
        </div>
      </div>
    </div>

  </div>

  <script src="bower_components/jquery/dist/jquery.min.js"></script>
  <script src="bower_components/angular/angular.min.js"></script>
  <script src="bower_components/angular-route/angular-route.min.js"></script>
  <script src="bower_components/angular-resource/angular-resource.min.js"></script>
  <script src="bower_components/bootstrap/dist/js/bootstrap.min.js"></script>
  <script src="bower_components/angular-cookies/angular-cookies.min.js"></script>
  <script src="bower_components/angular-bootstrap/ui-bootstrap-tpls.min.js"></script>
  <script src="bower_components/angular-ui-grid/ui-grid.min.js"></script>
  <script src="i18n/angular-locale_th.js"></script>

  <!--<script src="common/interceptors/spinner.js"></script>
  <script src="common/filters/buy-type.js"></script>
  <script src="common/directives/loader.js"></script>
  <script src="common/directives/lazy-loading-tabs.js"></script>
  <script src="common/directives/decimal-number.js"></script>
  <script src="common/directives/percentage.js"></script>
  <script src="common/directives/pagination/pagination.js"></script>
  <script src="common/jquery.bootstrap-growl.min.js"></script>
  <script src="common/notification.js"></script>
  <script src="common/breadcrumbs.js"></script>

  <script src="authentication/authentication-service.js"></script>
  <script src="authentication/authentication-controller.js"></script>
  <script src="customer/customer-service.js"></script>
  <script src="customer/customer-controller.js"></script>
  <script src="property/land-service.js"></script>
  <script src="property/land-buy-service.js"></script>
  <script src="property/land-controller.js"></script>
  <script src="property/land-installment-controller.js"></script>
  <script src="property/land-buy-controller.js"></script>
  <script src="property/land-installment-service.js"></script>
  <script src="app.js"></script>-->

  <!-- Production -->
  <script src="build/bpproperty-app.min.js"></script>

  <!-- Development -->
  <!--<script src="build/bpproperty-app.js"></script>-->

</body>

</html>
